// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#222222;
$menuActiveText:#FCB90A;
$subMenuActiveText:#ffffff; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#1890FF;

$subMenuBg:#ffffff;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// dark
$menuTextDark:DarkSlateGray;
$menuActiveTextDark: LightSeaGreen;
$subMenuActiveTextDark: DarkCyan; // https://github.com/ElemeFE/element/issues/12951

$menuBgDark:#333333;
$menuHoverDark:DarkCyan;

$subMenuBgDark:#222222;
$subMenuHoverDark:#001528;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuTextDark: $menuTextDark;
  menuActiveTextDark: $menuActiveTextDark;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
